{
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "airbnb",
  "rules": {
    "comma-dangle": "warn",
    "react/jsx-one-expression-per-line": "warn",
    "implicit-arrow-linebreak": "warn",
    "function-paren-newline": "warn",
    "jsx-a11y/label-has-associated-control": 0,
    "react/prop-types": "warn",
    "react/default-props-match-prop-types": "warn"
  }
}
